.padd{

    padding-top: 150px;
  
  }
  .padd-top{
  
    padding-top: 70px;
  }
  
  .padd-ourteam{
    padding-top: 70px;
  text-align: center;
  
  }
  
  .team-card{
    margin: 20px;
   background-color: #ffffff;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
  box-shadow: 0 5px 20px #000000 ;
  
  
  }
  .team-card:hover{
  
    transform: scale(1.1);
    transition: 0.7s ;
  
  }
  
   
  .his-img{
  
    display: flex;
    height:  564px;
    width:  500px;
    
  } 
  
  
  .team-card-img{
  
    display: block;
    height: auto;
    width: 100%;
  }
    
  
  .team-card-info{
  
    padding: 15px 0 7px;
    text-align: center;
  
  }
    
  
  
  .head{
    position: relative;
   text-align: center;
   font-family:Georgia, 'Times New Roman', Times, serif;
   bottom: 130px;
  }
  
  .tithead{
  
  font-size: 60px;
  position: relative;
  bottom: 60Px;
  padding: 100px;
  text-align: center;
  
  }
  
  .center-tit{
  
    padding-top: 60px;
    text-align: center;
  
  }
  
  @media screen and (min-width: 1250px){
  .left-img{
  
    margin-left: 450px;
    height:  564px;
    width:  520px;
    position: relative;
    bottom: 50px;
  
  }}
  
  
  @media screen and (min-width: 1250px){
  
    .text-fec{
  
      display: flex;
      position: absolute;
      right: 800px;
      text-align: left;
      bottom: -39em;
      width: 500px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  
  }}
  @media screen and (min-width: 1250px){
  
  .text-his{
  
    text-align: left;
    display: flex;
    position: absolute;
    right: 200px;
    bottom: -5em;
    width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  }
  
  @media screen and (min-width: 1250px){
  
  .rowCard{
  
    display: flex;
    margin-left: 10%; 
  
  }}
  
  @media screen and (min-width: 1250px){
    
  .tit-his{
  
    position: relative;
    right: -27em;
    text-align: left;
    bottom: 13em;
    
  }}
  
  @media screen and (min-width: 1250px){
  .tit-fec{
  
  
    position: relative;
    right: 2em;
    text-align: left;
    bottom: 15em;
  
  }}