
#ServiceHeader
{
  background-color: #9174a3;

}
#headOfService
{
  padding: 50px;
}
#midOfService{
  padding: 25px;
}
#serviceBtn
{
  padding: 10px;
}
#servicePageBottom
{
  background-color: #9174a3;

}
#HTW
{
  padding: 50px;
}

#infoCardSide{
  position: relative;
    right: -100px;
    padding-left: 150px;
    padding-right: 200px;
    width: 60%;
    max-width: 10000px;
    min-width: 600px;}

   

    
  