#filter{
  background-color: #d0b89d;/*#bda779*/

  
  }
  select {
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
    border-bottom: 2px solid currentcolor; 
    letter-spacing: .15em;
    border-radius: 0;
  background-color: #d0b89d;
  }
    
   select:focus, select:active {
      outline: 0;
      border-bottom-color: rgb(255, 255, 255);
    }
    option {
      background-color: rgb(255, 255, 255);
    }
  
  #color-options {
    display: flex;
    gap: 10px;
    margin: 10px;
  }
  
  .filter-option,
  .active-option {
    padding: 10px 20px;
    min-width: 50px;
    border-radius: 2rem;
    
  }
  .type-filter {
    display: flex;
    margin: 15px;
  }
  #type-input {
    width: 100px;
    margin: 0 10px;
    height: 30px;
  }
  .filter-option:hover,
  .active-option {
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.1s;
  }
  
@media screen and (min-width: 1250px){

    .introduction-to-our-products{
        position: relative;
        padding-top: 60px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:x-large; 
        font-weight: 400;
        width: 1400px;
        text-align: center;
        display: flex;    
        padding-right: 80px;
    }}
    
    .header-products{
      text-align: center;
      font-size: 4rem;
      padding-top: 20px;
      
    }
    

    
    .labelletext{
      color: rgb(130, 75, 181);
      position: relative;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size:xx-large; 
      font-weight: 500;
    bottom: 0em;
    
    }
    