


.overlay{
	background-color:#050404;
	position: fixed;
	display: none;
	width: 100%;
	height: 100vh;
	color: black;
	
}
.modalContaniner{
	max-width: 900px;
	width: 100%;
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	background-color: #fff;
	box-shadow: 0 20px 20px rgba(184, 148, 217, 0.914);
	z-index: 99;
}


img {
	width: 443px;
	object-fit: cover;
}
.modalContaniner{
	width: 100%;
}
.closeBtn{
	font-weight: bold; 
	font-size: 1.4rem;
	position: fixed;
	top:8px;
	right: 8px;
}
.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 3rem;
	padding: 1rem 2rem;
}
.card-title{
	position: fixed;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
	position: relative;
	top:-2cm;
	left: 4cm;
	color: #000000;
}

.description{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	position: relative;
	padding: 10px;
	margin-bottom: 100px;
	left: 1cm;
    color: #000000;
	top: -1cm;
}

.size{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	position: relative;
	left: 1.cm;
	top: -2.7cm;
}

.sizeNum p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	position:  relative ;
	right:-3.6cm;
	top: -4.4cm;

}

.sizesNum p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	position:  relative ;
	left: 7.6cm;
	top: -6.1cm;
}



  @media screen and (max-width: 900px){

	.modalContaniner{
		flex-direction:column;
		top: 0.50em;
		left:5em;
	    transform: none;
		width: 70%;
		height: 97%;
	}
	img{
		width:100%;
	height: 50% ;

	}

	.size {
		flex-direction:column;
		left: 0cm;
		top: -10.2cm;

	}
	.sizesNum p{
		top: -13.6cm;
		left: 2.5cm;

	}
	.sizeNum p{
		top: -12cm;
		right: 3cm;
	}
	.card-title{
    top: -7cm;
	left: -48%;
	font-size: 1.3rem;

	}
	.description{
		top:-7.5cm;
		left: -30%;
	}
	
	.closeBtn{
		right: 6%;
	}

}
