
.team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;  
    position: relative;
  }
  
  .team .team_member h3{
    color: #831fab;
    font-size: 26px;
    margin-top: 50px;
  }
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
  }


  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
  }
    

.about-as-header{

    background-color: rgb(89, 3, 85);
}


.head{
margin-top: 50px;
 padding: 40px;
 text-align: center;
 font-family: 'Brush Script MT', cursive;

}
.tithead{
  font-size: 70px;

}
.welcome-letterhead{

  margin-top: 30px;
   padding-top: 30px;
   text-align: center;
   font-family: 'Roboto Mono', monospace;
  }
  
  .subject-titles-and-explan-l{

    font-family: 'Josefin Sans', sans-serif;
    text-align: left;

  }

.border-for-about{

  border: 6px solid rgb(99, 2, 112);
  padding-top: 100px;

}
.right-img{

  text-align: right;

}


.img-circle{
  border-radius: 50%;
  width: 23%;
  border: 3px solid rgb(19, 28, 75);
}



  .subject-titles-and-explan-r{

    font-family: 'Josefin Sans', sans-serif;
    text-align: right;
    padding-top: 6em;
  }



 .images{
  
  padding-top: 20px;
  text-align: center;

}



.text-r{

  display: flex;
  position: absolute;
  right: 375px;
  text-align: left;
  bottom: -43em;
  width: 382px;
  height: 200px;
}


.text-l{
  text-align: left;
  display: flex;
  position: absolute;
  right: 635px;
  bottom: -81em;
  width: 382px;
  height: 200px;
}

.tit-his{

  display: flex;
    position: absolute;
    right: 350px;
    bottom: -19em;
    width: 400px;
    height: 200px;

}


.tit-feat{


  text-align: left;
  display: flex;
  position: absolute;
  right: 613px;
  bottom: -37em;
  width: 382px;
  height: 200px;

}