.padd{

  padding-top: 150px;

}
.team-card{
    margin: 20px;
   background-color: #ffffff;
    width: 300px;
    padding: 8px;
    border-radius: 10px;
box-shadow: 0 5px 20px #000000 ;


}
.team-card:hover{

  transform: scale(1.1);
  transition: 0.7s ;

}


.row-abuotus{


  display: flex;
margin-left: 5%;

}



.team-card-img{

  display: block;
  height: auto;
  width: 100%;
}
  

.team-card-info{

  padding: 15px 0 7px;
  text-align: center;

}



.about-as-header{

    background-color: rgb(89, 3, 85);
}


.head{
margin-top: 50px;
 padding: 40px;
 text-align: center;
 font-family:Georgia, 'Times New Roman', Times, serif;

}
.tithead{
  font-size: 70px;
  font-style: italic;
  text-shadow :#9174a3;


}
.welcome-letterhead{

  margin-top: 30px;
   padding-top: 30px;
   text-align: center;
   font-family: 'Roboto Mono', monospace;
  }
  
  .subject-titles-and-explan-l{

    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: left;

  }

.border-for-about{

  border: 80px solid rgb(99, 2, 112);
  padding-top: 50px;
  text-align: center;


}
.right-img{

  text-align: right;

}


.img-circle-head{
  border-radius: 50%;
  width: 30%;
  border: 3px solid rgb(19, 28, 75);
  box-shadow: 0 5px 20px #000000 ;

}


.img-circle{
  border-radius: 50%;
  width: 100%;
  border: 3px solid rgb(19, 28, 75);
  box-shadow: 0 5px 20px #000000 ;

}



.img-circle-our-features{
  border-radius: 50%;
  width: 35%;
  height: 80%;
  border: 3px solid rgb(19, 28, 75);
  box-shadow: 0 5px 20px #000000 ;
  margin-left: 50%;

}


@media screen and (min-width: 1250px){

  .subject-titles-and-explan-r{

    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    padding-top: 6em;
  }
}


 .images{
  
  padding-top: 20px;
  text-align: center;

}

@media screen and (min-width: 1250px){
  
  .text-r{
    display: flex;
    position: absolute;
    right: 353px;
    text-align: left;
    bottom: -39em;
    width: 500px;
    height: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}}

@media screen and (min-width: 1250px){
.text-l{

  text-align: left;
  display: flex;
  position: absolute;
  right: 676px;
  bottom: -76em;
  width: 500px;
  height: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
}


.background_About_as{

    background-color: #9174a3;
    text-align: center;
    
}


.rowCard{

  display: flex;
  margin-left: 5%; 

}
@media screen and (min-width: 1250px){
.tit-his{
  position: relative;
  right: -12em;
  text-align: left;
  bottom: 13em;

}}

@media screen and (min-width: 1250px){
.tit-fec{


  position: relative;
  right: -2em;
  text-align: left;
  bottom: 13em;

}}