.padd{

  padding-top: 150px;

}
.team-card{
    margin: 20px;
   background-color: #ffffff;
    width: 300px;
    padding: 8px;
    border-radius: 10px;
box-shadow: 0 5px 20px #000000 ;


}
.team-card:hover{

  transform: scale(1.1);

}


.row{


  display: flex;
margin-left: 5%;

}



.team-card-img{

  display: block;
  height: auto;
  width: 100%;
}
  

.team-card-info{

  padding: 15px 0 7px;
  text-align: center;

}


.about-as-header{

    background-color: rgb(89, 3, 85);
}


.head{
margin-top: 50px;
 padding: 40px;
 text-align: center;
 font-family: 'Brush Script MT', cursive;

}
.tithead{
  font-size: 70px;
  font-style: italic;
  text-shadow :#9174a3;


}
.welcome-letterhead{

  margin-top: 30px;
   padding-top: 30px;
   text-align: center;
   font-family: 'Roboto Mono', monospace;
  }
  
  .subject-titles-and-explan-l{

    font-family: 'Josefin Sans', sans-serif;
    text-align: left;

  }

.border-for-about{

  border: 80px solid rgb(99, 2, 112);
  padding-top: 50px;
  text-align: center;


}
.right-img{

  text-align: right;

}


.img-circle-head{
  border-radius: 50%;
  width: 30%;
  border: 3px solid rgb(19, 28, 75);
  box-shadow: 0 5px 20px #000000 ;

}


.img-circle{
  border-radius: 50%;
  width: 100%;
  border: 3px solid rgb(19, 28, 75);
  box-shadow: 0 5px 20px #000000 ;

}



.img-circle-our-features{
  border-radius: 50%;
  width: 35%;
  border: 3px solid rgb(19, 28, 75);
  box-shadow: 0 5px 20px #000000 ;

}


@media screen and (min-width: 1250px){

  .subject-titles-and-explan-r{

    font-family: 'Josefin Sans', sans-serif;
    text-align: right;
    padding-top: 6em;
  }
}


 .images{
  
  padding-top: 20px;
  text-align: center;

}


@media screen and (min-width: 1250px){
  
  .text-r{
  display: flex;
  position: absolute;
  right: 447px;
  text-align: left;
  bottom: -38em;
  width: 382px;
  height: 200px;
  font-family: 'Dancing Script', cursive;


}}

@media screen and (min-width: 1250px){
.text-l{
  text-align: left;
  display: flex;
  position: absolute;
  right: 676px;
  bottom: -66em;
  width: 382px;
  height: 200px;
  font-family: 'Dancing Script', cursive;

}}

@media screen and (min-width: 1250px){
.tit-his{
    display: flex;
    position: absolute;
    right: 427px;
    bottom: -23em;
    width: 400px;
    height: 200px;
    font-family: 'Parisienne', cursive;


}}

@media screen and (min-width: 1250px){
.tit-feat{

  text-align: left;
  display: flex;
  position: absolute;
  right: 656px;
  bottom: -42em;
  width: 400px;
    height: 200px;
  font-family: 'Parisienne', cursive;

}
}
.background {
  background-image: url("");

  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_About_as{

    background-color: #9174a3;
    text-align: center;
    

}