#filter{
    background-color: #d0b89d;/*#bda779*/
  
    
    }
    #type-input {
      margin-bottom: 1em;
      padding: .25em;
      border: 0;
      border-bottom: 2px solid currentcolor; 
      letter-spacing: .15em;
      border-radius: 0;
    background-color: #d0b89d;
    }
      
    #type-input:focus,  #type-input:active {
        outline: 0;
        border-bottom-color: rgb(255, 255, 255);
      }
      #selection-option {
        background-color: rgb(255, 255, 255);
      }
    
    #color-options {
      display: flex;
      gap: 10px;
      margin: 10px;
    }
    
    .filter-option,
    .active-option {
      padding: 10px 20px;
      min-width: 50px;
      border-radius: 2rem;
      
    }
    .type-filter {
      display: flex;
      margin: 15px;
    }
    #type-input {
      width: 130px;
      margin: 0 10px;
      height: 30px;
    }
    .filter-option:hover,
    .active-option {
      color: white;
      cursor: pointer;
      transition: all 0.1s;
      
    }

