.css-hlj6pa-MuiDialogActions-root
{
    display: none !important;
}


.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton
{
    display: none !important;

}


.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root{

    text-align: center;
background-color: #9174a3;


}

.css-xelq0e-MuiPickerStaticWrapper-content
{

width: 30%;

box-shadow :3px 2px 10px 5px #888888 !important;
}


.css-1hbyad5-MuiTypography-root 
{
    display: none !important;

}
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected
{

    background-color: #9174a3 !important;
    color: black !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected
{
    
    background-color: #9174a3 !important;
    color: black !important;
}