.toolBar{

    background-color: #222021;
    color: #fff;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}
.sidBar{
background-color: #222021;
color: #fff;
top: 0;
left: 0;
min-height: 100vh;
height: 100%;
max-width: 280px;
min-width: 180px;


}
.sidBar li{
    list-style: none;
    padding: 1rem 2rem;
    border-bottom: solid rgb(255, 255, 255,0.1) 1px ;
}
.sidBar li:hover{
    background-color: #fff;
    color: black;
}
#cardMainImage{
    width: 20%;
    height: 20%;
}
#contant{

    position: relative;
}
#sidebar{
    background-color: #222021;
}
#productImage{

    width: 250px;
    height: 250px;
    margin: 3rem 2rem;
}