.main {
    background-color: #fffcfc00;
    width: 100px;
}

.imageOne{
    width: 300px;
    border-radius: 8px;
    border-radius: 50%;
    position: relative;
    left:  800px;
    top: 30px;
}

.imageTwo{
    width: 300px;
    border-radius: 8px;
    border-radius: 50%;
    position: relative;
    left: 370px;
    top: 10px;
}

.container-fluid pre{
   font-size: xx-large;
   font-family: 'Brush Script MT', cursive;
   color: #66136c;
   position: relative;
    top: -410px;
    left: 330px;
    transform: translateY(-680%);
}
  
  .paragraphOneC pre{
    font-size: xx-large;
    font-family: 'Brush Script MT', cursive;
    color: #66136c ;
    position: relative;
    left: 400px;
    top: -530px;
    transform: translateY(-400%);
  }
 
  .paragraphTwo pre{
    font-size: xx-large;
    font-family: 'Brush Script MT', cursive;
    top: -150px; 
    color: #66136c;
    position: relative;
    left: 835px;
    transform: translateY(-680%);
  }
  
  .paragraphTwoC pre{
    font-size: xx-large;
    font-family: 'Brush Script MT', cursive;
    color: #66136c ;
    position: relative;
    left: 720px;
    top: -270px;
    transform: translateY(-400%);
  }