.design{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem ;
    background:#ffffff;
}

.design span{
   color: #7f5881b8;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
