@media screen and (min-width: 1250px){

    .introduction-to-our-products{
        position: relative;
        padding-top: 60px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:x-large; 
        font-weight: 400;
        width: 1400px;
        text-align: center;
        display: flex;    
        padding-right: 80px;
    }}
    
    .header-products{
      text-align: center;
      font-size: 4rem;
      padding-top: 20px;
      
    }
    
    @media screen and (min-width: 1250px){
    
    .labelletext{
      color: rgb(130, 75, 181);
      position: relative;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size:xx-large; 
      font-weight: 500;
    bottom: 0em;
    left: 18em;
    }
    }